/* Variables */
:root {
  --primary-color: #b96228;
  --darker-primary-color: #8b4c22;
  --light-btn-color: #bb835d;
  --light-hovered-btn-color: #9e6e4f;
  --dark-color: #575757;
  --dark-font-color: #383838;
  --light-font-color: #ffffff;
  --img-border-color: #c0aea3;
}

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
}

button {
  font: inherit;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
}

i {
  pointer-events: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

/* Typo*/

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2.2rem;
}

p {
  font-size: 1.4rem;
}

/* Misc */

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  font-size: 1.6rem;
  background: #e97666;
  text-align: center;
}
